<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.SysSettingMapper" >
    <select id="findByCategory" resultType="com.hy.pojo.SysSetting">
        SELECT * FROM sys_setting WHERE category = #{category}
    </select>
    <select id="findByKey" resultType="com.hy.pojo.SysSetting">
        SELECT * FROM sys_setting WHERE key_name = #{keyName}
    </select>
    <update id="updateValue">
        UPDATE sys_setting SET key_value = #{value}, update_time = NOW() WHERE key_name = #{key}
    </update>
</mapper>
